In [31]:
import pandas as pd
import datetime as dt

MATCH_RECORD_FILE = 'E:\Glenn Nelson\science\eq_gaps\match_records.csv'
csv_file = MATCH_RECORD_FILE
date_cols = ['templ_dt', 'det_dt']
df = pd.read_csv(csv_file, dtype={'region':'string'}, parse_dates=date_cols)
df

,filename,templ_dt,det_dt,region,quality,is_new
0,Templ-2018-05-13T15-19-22_Det-2018-05-13T15-31...,2018-05-13 15:19:22,2018-05-13 15:31:26,0,4,0
1,Templ-2018-05-13T15-31-12_Det-2018-05-13T15-19...,2018-05-13 15:31:12,2018-05-13 15:19:35,0,4,0
2,Templ-2018-05-15T01-33-39_Det-2019-08-07T20-28...,2018-05-15 01:33:39,2019-08-07 20:28:54,5,1,1
3,Templ-2018-05-15T01-33-39_Det-2019-08-21T06-03...,2018-05-15 01:33:39,2019-08-21 06:03:46,5,1,1
4,Templ-2018-05-19T08-14-07_Det-2018-05-22T05-24...,2018-05-19 08:14:07,2018-05-22 05:24:26,1,4,0
...,...,...,...,...,...,...
936,Templ-2019-07-31T16-19-40_Det-2018-09-09T16-27...,2019-07-31 16:19:40,2018-09-09 16:27:40,6,1,1
937,Templ-2019-07-31T16-19-40_Det-2018-11-08T21-09...,2019-07-31 16:19:40,2018-11-08 21:09:58,6,1,1
938,Templ-2019-07-31T16-19-40_Det-2018-11-08T03-07...,2019-07-31 16:19:40,2018-11-08 03:07:18,6,1,1
939,Templ-2019-07-31T16-19-40_Det-2018-11-08T23-10...,2019-07-31 16:19:40,2018-11-08 23:10:06,6,1,1
940,Templ-2019-07-31T16-19-40_Det-2018-11-06T15-09...,2019-07-31 16:19:40,2018-11-06 15:09:05,6,1,1

In [32]:
region_cnt = df['region'].value_counts()
region_cnt.rename('total', inplace=True)
unseen_df = df[df['quality']==-1]
unseen_cnt = unseen_df['region'].value_counts()
unseen_cnt.rename('unseen', inplace=True)
cnt_df = pd.concat([region_cnt,unseen_cnt], axis=1)
cnt_df

   total  unseen
4    257    <NA>
1    242    <NA>
5    160    <NA>
0    130    <NA>
6    109    <NA>
3     22    <NA>
2     21    <NA>

In [33]:
# tally the new events and the templates that match other templates
new_cnt = df[df['is_new']==1]
new_cnt = new_cnt['region'].value_counts()
new_cnt

4    253
1    210
5    115
6     93
0     75
3     21
2     15
Name: region, dtype: Int64

In [34]:
new_cnt = df.groupby(['region','is_new']).size()
cnt_df = new_cnt.to_frame(name='number').reset_index()
#cnt_df
print(cnt_df.to_string(index=False))

region  is_new  number
     0       0      55
     0       1      75
     1       0      32
     1       1     210
     2       0       6
     2       1      15
     3       0       1
     3       1      21
     4       0       4
     4       1     253
     5       0      45
     5       1     115
     6       0      16
     6       1      93

In [35]:
qual_df = df[df['quality'] >= 3]
new_cnt = qual_df.groupby(['region','is_new','quality']).size()
cnt_df = new_cnt.to_frame(name='number').reset_index()
#cnt_df
print(cnt_df.to_string(index=False))

region  is_new  quality  number
     0       0        3      13
     0       0        4      39
     0       1        3      11
     0       1        4      20
     1       0        3       6
     1       0        4      22
     1       1        3       8
     1       1        4      16
     2       0        4       6
     2       1        3       4
     2       1        4       4
     3       0        4       1
     3       1        3       2
     3       1        4       4
     4       0        4       4
     5       0        3       9
     5       0        4      32
     5       1        3      23
     5       1        4      18
     6       0        3       5
     6       0        4      10
     6       1        3       9
     6       1        4      11

In [36]:
# new events in regions 2 or 3 during months of 10-11 2018
new_df = qual_df[qual_df['is_new']==1]
reg23_mask = new_df.region.apply(lambda x: x in ['2','3'])
#print(reg23_mask)
reg23_df = new_df[reg23_mask]
print(reg23_df)
print(reg23_df[['templ_dt','det_dt','region','quality']].to_string(index=False))

                                              filename            templ_dt  \
19   Templ-2018-05-22T06-52-03_Det-2019-08-02T13-15... 2018-05-22 06:52:03
152  Templ-2018-07-12T04-09-47_Det-2018-07-12T04-09... 2018-07-12 04:09:47
157  Templ-2018-07-17T23-00-13_Det-2018-07-15T18-24... 2018-07-17 23:00:13
158  Templ-2018-07-17T23-00-13_Det-2018-07-16T05-55... 2018-07-17 23:00:13
191  Templ-2018-08-13T15-06-36_Det-2018-08-13T15-15... 2018-08-13 15:06:36
322  Templ-2018-11-10T04-26-16_Det-2018-11-10T08-12... 2018-11-10 04:26:16
632  Templ-2019-05-22T18-35-43_Det-2019-08-30T18-23... 2019-05-22 18:35:43
636  Templ-2019-06-03T06-41-09_Det-2019-06-03T08-17... 2019-06-03 06:41:09
637  Templ-2019-06-03T06-41-09_Det-2019-06-03T08-37... 2019-06-03 06:41:09
881  Templ-2019-06-16T16-43-21_Det-2019-06-17T14-21... 2019-06-16 16:43:21
882  Templ-2019-06-16T16-43-21_Det-2019-06-16T18-58... 2019-06-16 16:43:21
883  Templ-2019-06-16T16-43-21_Det-2019-06-17T15-06... 2019-06-16 16:43:21
885  Templ-2019-06-16T16-43-21_Det-2019-06-17T09-37... 2019-06-16 16:43:21
886  Templ-2019-06-16T16-43-21_Det-2019-06-27T06-55... 2019-06-16 16:43:21

                 det_dt region  quality  is_new
19  2019-08-02 13:15:31      2        3       1
152 2018-07-12 04:09:16      2        3       1
157 2018-07-15 18:24:12      2        4       1
158 2018-07-16 05:55:30      2        3       1
191 2018-08-13 15:15:06      2        4       1
322 2018-11-10 08:12:25      3        4       1
632 2019-08-30 18:23:35      2        3       1
636 2019-06-03 08:17:09      2        4       1
637 2019-06-03 08:37:25      2        4       1
881 2019-06-17 14:21:09      3        4       1
882 2019-06-16 18:58:40      3        3       1
883 2019-06-17 15:06:48      3        4       1
885 2019-06-17 09:37:10      3        4       1
886 2019-06-27 06:55:03      3        3       1
           templ_dt              det_dt region  quality
2018-05-22 06:52:03 2019-08-02 13:15:31      2        3
2018-07-12 04:09:47 2018-07-12 04:09:16      2        3
2018-07-17 23:00:13 2018-07-15 18:24:12      2        4
2018-07-17 23:00:13 2018-07-16 05:55:30      2        3
2018-08-13 15:06:36 2018-08-13 15:15:06      2        4
2018-11-10 04:26:16 2018-11-10 08:12:25      3        4
2019-05-22 18:35:43 2019-08-30 18:23:35      2        3
2019-06-03 06:41:09 2019-06-03 08:17:09      2        4
2019-06-03 06:41:09 2019-06-03 08:37:25      2        4
2019-06-16 16:43:21 2019-06-17 14:21:09      3        4
2019-06-16 16:43:21 2019-06-16 18:58:40      3        3
2019-06-16 16:43:21 2019-06-17 15:06:48      3        4
2019-06-16 16:43:21 2019-06-17 09:37:10      3        4
2019-06-16 16:43:21 2019-06-27 06:55:03      3        3

In [37]:
# More efficient way to find new events
filt_df = df[(df['quality']>=3) & (df['region'].isin(['2','3'])) & (df['is_new']==1)]
print(filt_df[['templ_dt','det_dt','region','quality']].to_string(index=False))

           templ_dt              det_dt region  quality
2018-05-22 06:52:03 2019-08-02 13:15:31      2        3
2018-07-12 04:09:47 2018-07-12 04:09:16      2        3
2018-07-17 23:00:13 2018-07-15 18:24:12      2        4
2018-07-17 23:00:13 2018-07-16 05:55:30      2        3
2018-08-13 15:06:36 2018-08-13 15:15:06      2        4
2018-11-10 04:26:16 2018-11-10 08:12:25      3        4
2019-05-22 18:35:43 2019-08-30 18:23:35      2        3
2019-06-03 06:41:09 2019-06-03 08:17:09      2        4
2019-06-03 06:41:09 2019-06-03 08:37:25      2        4
2019-06-16 16:43:21 2019-06-17 14:21:09      3        4
2019-06-16 16:43:21 2019-06-16 18:58:40      3        3
2019-06-16 16:43:21 2019-06-17 15:06:48      3        4
2019-06-16 16:43:21 2019-06-17 09:37:10      3        4
2019-06-16 16:43:21 2019-06-27 06:55:03      3        3

In [51]:
# Create a df with integer index and templ_dt in first column and det_dt list in 2nd column
filt_df = df[(df['quality']>=3) & (df['is_new']==1)]
by_templ_dt = filt_df.groupby(['templ_dt',])
by_templ_dict = {}
by_templ_list = []
for tdt,frame in by_templ_dt:
    #print(f"time {tdt!r}")
    #print(frame['det_dt'], end='\n\n')
    flist = frame['det_dt'].tolist()
    by_templ_dict[tdt] = [flist,]
    row = [tdt,flist]
    by_templ_list.append(row)
# creates DF from dict. But the index is templ_dt and there is only one column that contains det_dt
by_templ_df = pd.DataFrame.from_dict(by_templ_dict, orient='index', columns=['det_dt'])
by_templ_df
# creates DF from list. The index is integers, first column is templ_dt, second is det_dt
by_templ_df1 = pd.DataFrame.from_records(by_templ_list, columns=['templ_dt','det_dt'])
by_templ_df1

              templ_dt                                             det_dt
0  2018-05-19 19:23:39         [2018-05-23 23:16:22, 2018-05-19 19:03:39]
1  2018-05-19 22:04:15                              [2018-05-23 23:16:22]
2  2018-05-20 00:51:19         [2018-05-19 19:03:39, 2018-05-23 23:16:22]
3  2018-05-22 06:52:03                              [2019-08-02 13:15:31]
4  2018-05-24 03:47:18                              [2018-05-24 04:19:30]
..                 ...                                                ...
81 2019-06-27 16:47:52                              [2019-08-25 12:43:52]
82 2019-07-02 05:23:43  [2018-08-15 19:19:11, 2018-08-17 20:01:45, 201...
83 2019-07-07 07:47:09                              [2019-07-09 22:19:53]
84 2019-07-12 22:04:32         [2019-07-12 14:49:03, 2019-07-12 15:17:22]
85 2019-07-17 14:41:50                              [2019-07-18 08:38:08]

[86 rows x 2 columns]